<% @things.each do |thing| %>
  <h1><%= thing.name %> -- <%= thing.id %> -- <%= thing.thing_type %></h1>

    <p> Number of voters: <%= thing.find_votes_for(:vote_scope => 'bar').size %> </p>
    <p> Total weighted votes: <%= thing.find_votes_for(:vote_scope => 'bar').sum(:vote_weight) %> </p>

    <p> User email: <%= current_user.email %> -- User id: <%= current_user.id %> </p>

    <%= link_to 'VOTE', vote_path(thing), class: "btn btn-primary" %>
    <%= link_to 'VOTE3', vote3_path(thing), class: "btn btn-primary" %>

    <%= link_to 'UNVOTE', unvote_path(thing), class: "btn btn-primary" %>


    <% thing.find_votes_for(:vote_scope => thing.thing_type).each do |vote| %>

    <!-- check if the current user has voted -->
    <% if vote.voter_id == current_user.id %>
    <p> User has voted on this thing</p>
    <% end %>

    <!-- check if the user voted with 3 stars -->
    <% if vote.voter_id == current_user.id && vote.vote_weight == 3 %>
    <p> User already has a 3 star vote</p>
    <% end %>

    <% end %>

    <br>
    <p> ----------------------------------------------- </p>
    <br>

<% end %>
