<h1> <strong> LIST </strong></h1>
<br>
<br>
<p> <%= @url %> </p>



<% @house_listing.each do |house| %>
    <p> <%= house.name %> </p>
    <p> <%= house.address %> </p>
    <ol> <%= house.tag.html_safe %> </ol>
    <p> <%= house.description %> </p>
    <p> <%= house.price_range %> </p>
    <p> <%= house.link %> </p>



<% end %>

