<div class="banner-container sign">
  <div class="banner" style="background-image: linear-gradient(0deg, rgba(50,50,50,0.6) 0%, rgba(50,50,50,0.6) 0%), url('<%= image_path "background.jpg"%>');">
    <div class="banner-main-content">
      <h1>Batch<span>It</span></h1>
      <p>Group planning made simple</p>
      <div class="sign-form-container">
        <h2>Forgot your password?</h2>
        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email, required: true, autofocus: true %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Send me reset password instructions" %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
