<div class='thingcard-small'>
  <div class='thingcard-small_left'>
    <% if thing.photo_link.nil? || thing.photo_link.strip == "" %>
      <img src='https://unsplash.it/175/150/?random'>
    <% else %>
      <img src='<%= thing.photo_link %>'>
    <% end %>
  </div>
  <div class='thingcard-small_right'>
    <div class="thingcard-small_right_header">
      <h5>
        <%= thing.name %>
      </h5>
    </div>
    <div class='thingcard-small_right_details'>
      <div class='thingcard-small_right_review'>
        <p><%= thing.address.size <= 50 ? thing.address : thing.address[0..50] + "..." %></p>
        <p><%= thing.description.size <= 75 ? thing.description : thing.description[0..75] + "..." %></p>
      </div>
    </div>
    <div class='thingcard_right_button'>
        <%= render "cities/new_thing_hidden_form", type: thing.thing_type, thing: thing %>
    </div>
  </div>
</div>

