<div class='thingcard'>
 <% if thing.photo_link.nil? || thing.photo_link.strip == "" %>
    <div class='thingcard_left' style="background-image: url('https://unsplash.it/175/150/?random');">
  <% else %>
    <div class='thingcard_left' style="background-image: url('<%= thing.photo_link %>');">
  <% end %>
  </div>
  <div class='thingcard_right'>
    <div class="thingcard_right_header">
      <h4>
        <%= thing.name.capitalize %>
      </h4>
    </div>
    <div class='thingcard_right_details'>
      <div class='thingcard_right_review'>
          <p><%= thing.address %></p>
          <p><%= thing.price_range %> dollars per night</p>
          <p><%= current_user.id %></p>

          <% if thing.city.project.participants.where(user: current_user.id) %>
            <p> <%= true %> </p>
          <% else %>
            <p> <%= false %></p>
          <% end %>
          <% if thing.city.project.participants.where(user: 1) %>
            <p> <%= true %> </p>
          <% else %>
            <p> <%= false %></p>
          <% end %>
          <% if thing.city.project.participants.where(user: 5) %>
            <p> <%= true %> </p>
          <% end %>
       <!--  CAME FROM MASTER -->
       <!--  <p><%= thing.address.size <= 50 ? thing.address : thing.address[0..50] + "..." %></p> -->
       <!--  <p><%= thing.description.size <= 75 ? thing.description : thing.description[0..75] + "..." %></p> -->
      </div>
    </div>
    <div>
    <div>
         <%= link_to vote_path(thing), class: "btn btn-success" do %>
             upvote
          <% end %>

    </div>

    </div>
    <div class='thingcard_right_rating'>
      <div class='thingcard_right_rating_stars'>
        <fieldset class='rating'>

          <input id='star3' name='rating' type='radio' value='3'>
          <label class='full' for='star3' title='3 stars'></label>

          <input id='star2' name='rating' type='radio' value='2'>
          <label class='full' for='star2' title='2 stars'></label>

          <input id='star1' name='rating' type='radio' value='1'>
          <label class='full' for='star1' title='1 star'></label>

        </fieldset>
      </div>
    </div>
  </div>
</div>
