
<%= simple_form_for @project, method: "post", url: projects_path do |f| %>
  <div class="form-group">
    <%= f.input :name, label: "Batch's name", input_html: {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.input :description, label: "Description", input_html: {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.input :group_size, as: :integer, label: "Expected number of participants", input_html: {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.input :start_date, as: :string, label: "Start date", input_html: {class: "form-control", id: "datepicker_start_date" }, placeholder: "dd/mm/yyyy" %>
  </div>
  <div class="form-group">
    <%= f.input :end_date, as: :string, label: "End date", input_html: {class: "form-control", id: "datepicker_end_date"}, placeholder: "dd/mm/yyyy" %>
  </div>
  <div class="form-group">
    <%= f.input :city1, label: "First city choice" do %>
      <%= text_field_tag 'city_1' %>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.input :city2, label: "Second city choice" do %>
      <%= text_field_tag 'city_2' %>
    <% end %>
  </div>
  <div class="form-group" style="height:50px;">
    <div class="col-xs-12 text-center">
      <%= f.button :submit, class: "btn btn-brand", value: "Create" %>
    </div>
  </div>
<% end %>

<% content_for(:after_js) do %>
  <script>
     $('input#city_1').addClass('form-control');
     $('input#city_2').addClass('form-control');
  </script>
<% end %>

    <!-- <option value="Amsterdam">Amsterdam</option>
    <option value="Hamburg">Hamburg</option>
    <option value="Berlin">Berlin</option>
    <option value="Ibiza">Ibiza</option>
    <option value="Prague">Prague</option>
    <option value="Budapest">Budapest</option>
    <option value="London">London</option>
    <option value="Barcelona">Barcelona</option>
    <option value="Madrid">Madrid</option> -->
