
<%= simple_form_for @project, method: "post", url: projects_path do |f| %>
  <div class="form-group">
    <%= f.input :name, label: "Batch's name", input_html: {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.input :description, label: "Description", input_html: {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.input :group_size, as: :integer, label: "Expected number of participants", input_html: {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.input :start_date, as: :string, label: "Start date", input_html: {class: "form-control", id: "datepicker_start_date" }, placeholder: "dd/mm/yyyy" %>
  </div>
  <div class="form-group">
    <%= f.input :end_date, as: :string, label: "End date", input_html: {class: "form-control", id: "datepicker_end_date"}, placeholder: "dd/mm/yyyy" %>
  </div>
  <div class="form-group">
    <%= f.input :city_1, as: :string, label: "First City", required: true , input_html: {class: "form-control"}%>
  </div>
  <div class="form-group">
    <%= f.input :city_2, as: :string, label: "Second City", required: true , input_html: {class: "form-control"}%>
  </div>
  <div class="form-group" style="height:50px;">
    <div class="col-xs-12 text-center">
      <%= f.button :submit, class: "btn btn-brand", value: "Create" %>
    </div>
  </div>
<% end %>
