
<%= simple_form_for @project, method: "post", url: projects_path do |f| %>
  <div class="form-group">
    <%= f.input :name, label: "Please name your Batch: ", input_html: {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.input :description, label: "Please describe your project for your buddies: ", input_html: {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.input :group_size, as: :integer, label: "Please enter the expected number of participants: ", input_html: {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.input :start_date, as: :string, label: "Please enter the start date: ", input_html: {class: "form-control", id: "datepicker_start_date" }, placeholder: "dd/mm/yyyy" %>
  </div>
  <div class="form-group">
    <%= f.input :end_date, as: :string, label: "Please enter the end date: ", input_html: {class: "form-control", id: "datepicker_end_date"}, placeholder: "dd/mm/yyyy" %>
  </div>
  <div class="form-group">
    <%= f.input :city1, label: "Provide your first city choice" do %>
      <%= text_field_tag 'city_1' %>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.input :city2, label: "Provide your second city choice" do %>
      <%= text_field_tag 'city_2' %>
    <% end %>
  </div>
  <div class="text-center">
    <%= f.button :submit, class: "btn btn-success btn-lg", value: "Create Trip" %>
  </div>
<% end %>


<% content_for(:after_js) do %>
  <script>
     $('input#city_1').addClass('form-control');
     $('input#city_2').addClass('form-control');
  </script>
<% end %>

    <!-- <option value="Amsterdam">Amsterdam</option>
    <option value="Hamburg">Hamburg</option>
    <option value="Berlin">Berlin</option>
    <option value="Ibiza">Ibiza</option>
    <option value="Prague">Prague</option>
    <option value="Budapest">Budapest</option>
    <option value="London">London</option>
    <option value="Barcelona">Barcelona</option>
    <option value="Madrid">Madrid</option> -->
