<% voted = @project.get_participant_votes(current_user) == 24 %>
<div class="thank-container" style="background-image: linear-gradient(0deg, rgba(50,50,50,0.6) 0%, rgba(50,50,50,0.6) 0%), url('<%= image_path "background.jpg"%>');">
  <div class="thank-container-content">
    <% if voted %>
      <h2 class="text-center">Thank you for voting!</h2>
      <p class="text-center">The final results will be emailed once all participants have voted!  You can now check the current status of all votes and leave your comments!</p>
    <% elsif @project.get_participant_votes(current_user) > 0 %>
      <h2 class="text-center">Oops, it looks like you did not cast all your votes!</h2>
      <p class="text-center">Cast all your votes to see the results</p>
      <%= link_to "Complete votes!", project_city_path(@project, @city1), class: "btn btn-primary brand-color" %>
    <% else %>
      <h2 class="text-center">Welcome to <%= @project.name.capitalize %>.</h2>
      <p class="text-center">Cast all your votes to see the results</p>
      <%= link_to "Vote now for this trip!", project_city_path(@project, @city1), class: "btn btn-primary brand-color" %>
    <% end %>
  </div>
</div>
<div class="separator-container"></div>
<% if voted %>
  <div class="dashboard-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <div class="dashboard-city-box">
            <div class="row">
              <div class="col-xs-12 text-center">
                <h3 style="margin-top: 20px;"><%= @city1.name.capitalize %></h3>
                <div class="star-div"><i class="fa fa-star" id="city1_star1"> </i><i class="fa fa-star" id="city1_star2"></i></div>
              </div>
            </div>
            <div class="thing-graphs-box">
              <h3>Restaurants</h3>
              <% total_votes = @city1_restaurants.inject(0){ |sum, thing| sum + thing.total_votes }.to_f %>
              <% i = 1 %>
              <% @city1_restaurants.each do |thing| %>
                <div class="thing-graph">
                  <% thing.name.length < 20 ? name = thing.name.capitalize : name = thing.name[0..20] + "..." %>
                  <div class="graph-title">
                    <%= link_to thing.link, target:"_blank" do %>
                      <p><%= name %></p>
                    <% end %>
                  </div>
                  <div class="graph-bar bar<%= i%>" style="width: <%= thing.total_votes * 400 / total_votes %>px">
                    <p><%= (thing.total_votes * 100 / total_votes).round %>%</p>
                    <% if thing.is_favorite?(current_user) %>
                      <i class="fa fa-star star"></i>
                    <% end %>
                  </div>
                </div>
                <% i = i + 1 %>
              <% end %>
            </div>
            <div class="line-div"></div>
            <div class="thing-graphs-box">
              <h3>Accommodations</h3>
              <% total_votes = @city1_accommodations.inject(0){ |sum, thing| sum + thing.total_votes }.to_f %>
              <% i = 1 %>
              <% @city1_accommodations.each do |thing| %>
                <div class="thing-graph">
                  <% thing.name.length < 20 ? name = thing.name.capitalize : name = thing.name.capitalize[0..20] + "..." %>
                  <div class="graph-title">
                    <%= link_to thing.link, target:"_blank" do %>
                      <p><%= name %></p>
                    <% end %>
                  </div>
                  <div class="graph-bar bar<%= i%>" style="width: <%= thing.total_votes * 400 / total_votes %>px">
                    <p><%= (thing.total_votes * 100 / total_votes).round %>%</p>
                    <% if thing.is_favorite?(current_user) %>
                      <i class="fa fa-star star"></i>
                    <% end %>
                  </div>
                </div>
                <% i = i + 1 %>
              <% end %>
            </div>
            <div class="line-div"></div>
            <div class="thing-graphs-box">
              <h3>Activities</h3>
              <% total_votes = @city1_activities.inject(0){ |sum, thing| sum + thing.total_votes }.to_f %>
              <% i = 1 %>
              <% @city1_activities.each do |thing| %>
                <div class="thing-graph">
                  <% thing.name.length < 20 ? name = thing.name.capitalize : name = thing.name.capitalize[0..20] + "..." %>
                  <div class="graph-title">
                    <%= link_to thing.link, target:"_blank" do %>
                      <p><%= name %></p>
                    <% end %>
                  </div>
                  <div class="graph-bar bar<%= i%>" style="width: <%= thing.total_votes * 400 / total_votes %>px">
                    <p><%= (thing.total_votes * 100 / total_votes).round %>%</p>
                    <% if thing.is_favorite?(current_user) %>
                      <i class="fa fa-star star"></i>
                    <% end %>
                  </div>
                </div>
                <% i = i + 1 %>
              <% end %>
            </div>
            <div class="line-div"></div>
            <div class="thing-graphs-box">
              <h3>Bars</h3>
              <% total_votes = @city1_bars.inject(0){ |sum, thing| sum + thing.total_votes }.to_f %>
              <% i = 1 %>
              <% @city1_bars.each do |thing| %>
                <div class="thing-graph">
                  <% thing.name.length < 20 ? name = thing.name.capitalize : name = thing.name.capitalize[0..20] + "..." %>
                  <div class="graph-title">
                    <%= link_to thing.link, target:"_blank" do %>
                      <p><%= name %></p>
                    <% end %>
                  </div>
                  <div class="graph-bar bar<%= i%>" style="width: <%= thing.total_votes * 400 / total_votes %>px">
                    <p><%= (thing.total_votes * 100 / total_votes).round %>%</p>
                    <% if thing.is_favorite?(current_user) %>
                      <i class="fa fa-star star"></i>
                    <% end %>
                  </div>
                </div>
                <% i = i + 1 %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="dashboard-city-box">
            <div class="row">
              <div class="col-xs-12 text-center">
                <h3 style="margin-top: 20px;"><%= @city2.name.capitalize %></h3>
                <div class="star-div"><i class="fa fa-star" id="city2_star1"> </i><i class="fa fa-star" id="city2_star2"></i></div>
              </div>
            </div>
            <div class="thing-graphs-box">
              <h3>Restaurants</h3>
              <% total_votes = @city2_restaurants.inject(0){ |sum, thing| sum + thing.total_votes }.to_f %>
              <% i = 1 %>
              <% @city2_restaurants.each do |thing| %>
                <div class="thing-graph">
                  <% thing.name.length < 20 ? name = thing.name.capitalize : name = thing.name.capitalize[0..20] + "..." %>
                  <div class="graph-title">
                    <%= link_to thing.link, target:"_blank" do %>
                      <p><%= name %></p>
                    <% end %>
                  </div>
                  <div class="graph-bar bar<%= i%>" style="width: <%= thing.total_votes * 400 / total_votes %>px">
                    <p><%= (thing.total_votes * 100 / total_votes).round %>%</p>
                    <% if thing.is_favorite?(current_user) %>
                      <i class="fa fa-star star"></i>
                    <% end %>
                  </div>
                </div>
                <% i = i + 1 %>
              <% end %>
            </div>
            <div class="line-div"></div>
            <div class="thing-graphs-box">
              <h3>Accommodations</h3>
              <% total_votes = @city2_accommodations.inject(0){ |sum, thing| sum + thing.total_votes }.to_f %>
              <% i = 1 %>
              <% @city2_accommodations.each do |thing| %>
                <div class="thing-graph">
                  <% thing.name.length < 20 ? name = thing.name.capitalize : name = thing.name.capitalize[0..20] + "..." %>
                  <div class="graph-title">
                    <%= link_to thing.link, target:"_blank" do %>
                      <p><%= name %></p>
                    <% end %>
                  </div>
                  <div class="graph-bar bar<%= i%>" style="width: <%= thing.total_votes * 400 / total_votes %>px">
                    <p><%= (thing.total_votes * 100 / total_votes).round %>%</p>
                    <% if thing.is_favorite?(current_user) %>
                      <i class="fa fa-star star"></i>
                    <% end %>
                  </div>
                </div>
                <% i = i + 1 %>
              <% end %>
            </div>
            <div class="line-div"></div>
            <div class="thing-graphs-box">
              <h3>Activities</h3>
              <% total_votes = @city2_activities.inject(0){ |sum, thing| sum + thing.total_votes }.to_f %>
              <% i = 1 %>
              <% @city2_activities.each do |thing| %>
                <div class="thing-graph">
                  <% thing.name.length < 20 ? name = thing.name.capitalize : name = thing.name.capitalize[0..20] + "..." %>
                  <div class="graph-title">
                    <%= link_to thing.link, target:"_blank" do %>
                      <p><%= name %></p>
                    <% end %>
                  </div>
                  <div class="graph-bar bar<%= i%>" style="width: <%= thing.total_votes * 400 / total_votes %>px">
                    <p><%= (thing.total_votes * 100 / total_votes).round %>%</p>
                    <% if thing.is_favorite?(current_user) %>
                      <i class="fa fa-star star"></i>
                    <% end %>
                  </div>
                </div>
                <% i = i + 1 %>
              <% end %>
            </div>
            <div class="line-div"></div>
            <div class="thing-graphs-box">
              <h3>Bars</h3>
              <% total_votes = @city2_bars.inject(0){ |sum, thing| sum + thing.total_votes }.to_f %>
              <% i = 1 %>
              <% @city2_bars.each do |thing| %>
                <div class="thing-graph">
                  <% thing.name.length < 20 ? name = thing.name.capitalize : name = thing.name.capitalize[0..20] + "..." %>
                  <div class="graph-title">
                    <%= link_to thing.link, target:"_blank" do %>
                      <p><%= name %></p>
                    <% end %>
                  </div>
                  <div class="graph-bar bar<%= i%>" style="width: <%= thing.total_votes * 400 / total_votes %>px">
                    <p><%= (thing.total_votes * 100 / total_votes).round %>%</p>
                    <% if thing.is_favorite?(current_user) %>
                      <i class="fa fa-star star"></i>
                    <% end %>
                  </div>
                </div>
                <% i = i + 1 %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<div class="messenger-container">
  <div class="message-box">
    <h2 class="text-center">Discuss the trip with your buddies!</h2>
    <div class="messages" id="messages">
      <% previous_message = Message.new %>
      <% @project.messages.each do |message| %>
        <%= render "message", message: message, previous_message: previous_message %>
        <% previous_message = message %>
      <% end %>
    </div>
    <div class="message-form">
      <%= render "new_message_form", project: @project %>
    </div>
  </div>
</div>

<div class="basic-footer" style="position:relative; top:150px">
  <a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook"></i></a>
  |
  <a href="https://www.instagram.com" target="_blank"><i class="fa fa-instagram"></i></a>
  |
  <a href="https://www.twitter.com" target="_blank"><i class="fa fa-twitter"></i></a>
</div>

<% content_for(:after_js) do %>
  <script>
    if (!($("#messages>:last-child").size() == 0)){
      var scroll_distance = $("#messages>:last-child").position().top;
      $("#messages").scrollTop(scroll_distance);
    }

    $("#city1_star1").on("click", function(){
      $("#city1_star1").addClass("orange");
      $("#city1_star2").removeClass("orange");
    });

    $("#city1_star2").on("click", function(){
      $("#city1_star1").addClass("orange");
      $("#city1_star2").addClass("orange");
    });

    $("#city2_star1").on("click", function(){
      $("#city2_star1").addClass("orange");
      $("#city2_star2").removeClass("orange");
    });

    $("#city2_star2").on("click", function(){
      $("#city2_star1").addClass("orange");
      $("#city2_star2").addClass("orange");
    });

  </script>
<% end %>
