<h1>Projects#index</h1>

<div class="overlay">
  <div class="left">
      <%= image_tag "berlin.jpg", class: "big-image-thing"%>
    <div class="bottom">
      <%= image_tag "background.jpg", class: "small-image-thing"%>
      <%= image_tag "background.jpg", class: "small-image-thing"%>
    </div>
  </div>
  <div class="right">
    <h1><strong>Thing name</strong></h1>
    <div class="overlay-details">
      <p>This is the thing description<br>
        BlablablablaBlablablablaBlablablablaBlablablabla<br>
        BlablablablaBlablablablaBlablablablaBlablablabla<br>
        BlablablablaBlablablablaBlablablablaBlablablabla<br>
        BlablablablaBlablablablaBlablablablaBlablablabla<br>
        BlablablablaBlablablablaBlablablablaBlablablabla<br>
        BlablablablaBlablablablaBlablablablaBlablablabla<br>
      </p>
      <br>
      <ul class="no-bullets"><strong>
        <li style="background: url(‘<%= image_path "batchit.png"  %>’) no-repeat left top">These are the tags</li>
        <li style="background: url(‘<%= image_path "batchit.png"  %>’) no-repeat left top">Tag1</li>
        <li style="background: url(‘<%= image_path "batchit.png"  %>’) no-repeat left top">Tag2</li>
        <li>Tag3</li>
        <li>Tag4</li>
        <li>Tag5</li>
        <li>Tag6</li>
      </strong></ul>
      <br>
      <p>This is the price range €50-100</p>
    </div>
  </div>
</div>

<br>
<br>
<br>

<div class="city-card">
  <div class="city-info">
    <h3>Berlin</h3>
    <p>If you want to party three days long, this is your city!</p>
  </div>
</div>
