<div class="project-info-container" style="background-image: linear-gradient(0deg, rgba(50,50,50,0.6) 0%, rgba(50,50,50,0.6) 0%), url('<%= image_path "background.jpg"%>');">
  <div class="project-info-container-content">
    <h2><%= @project.name %></h2>
    <p><strong>Group size: </strong> <%= @project.group_size  %></p>
    <p><strong> From </strong> <%= @project.start_date  %><strong> to </strong> <%= @project.end_date  %></p>
    <p><strong>City 1: </strong> <%= @project.cities.first.name %></p>
    <p><strong>City 2: </strong> <%= @project.cities.second.name %></p>
    <% if @project.things.size < 24 %>
      <%= link_to "Setup your Project" ,new_city_restaurants_path(@project.cities.first), class:"btn btn-primary brand-color" %>
    <% end %>
  </div>
</div>


<div class="general_selection_container">
  <div class="selection_container selection_left">
    <%= render "cities/selection_container", city: @project.cities.first, back: true %>
  </div>
  <div class="selection_container selection_right">
    <%= render "cities/selection_container", city: @project.cities.second, back: true %>
  </div>
</div>
<div class="friends-invite">
  <h2>List of participants for this project</h2>
  <div class="row">
    <div class="col-xs-12 text-center">
      <div id="new-participant-form">
        <%= render 'participants/new_participant_form', participant: Participant.new %>
      </div>
    </div>
  </div>
  <div id="participant-box">
    <% @project.participants.each do |participant| %>
      <div class="row">
        <div class="col-xs-12 text-center">
          <%= render "shared/participant_card", participant: participant  %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<% if @project.things.size == 24 %>
  <div class="finalize-project-container">
    <%= link_to "Close and Finalize Project", finalize_project_path(@project), class: "btn btn-primary brand-color", method: "post"  %>
  </div>
<% end %>

<div class="basic-footer">
  <a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook"></i></a>
  |
  <a href="https://www.instagram.com" target="_blank"><i class="fa fa-instagram"></i></a>
  |
  <a href="https://www.twitter.com" target="_blank"><i class="fa fa-twitter"></i></a>
</div>
