<% @restaurants = City.first.restaurants %>
<% @accommodations = City.first.accommodations %>
<% @activities = City.first.activities[0..1] %>
<% @bars = City.first.bars[0...3] %>
<% @city = City.first %>
<% types = %w(restaurant accommodation activity bar) %>

<div class="top-progress-container">

</div>

<div class="general-search-selection-container" style="display:flex">
  <div class="left-search-container">
    <% types.each do |type| %>
      <div id="<%= type.pluralize %>-search-box">
        <h3><%= type.pluralize.capitalize %> search</h3>
        <%= render "cities/new_thing_search_form", city: @city, type: type  %>
        <div class="search-box">
          <% eval("@"+type.pluralize).each do |thing|  %>
            <%= render "shared/search_card", thing: thing, city: @city %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="right-selection-container">
    <div class="things-bar">
      <% types.each do |type| %>
        <% active = "active" if type == "restaurant" %>
        <div class="things-bar-tab <%= active %>" id="<%= type %>-tab">
          <% selection_qty = eval("@"+type.pluralize).size %>
          <% full = "full" if selection_qty == 3 %>
          <div class="circle-status <%= full %>">
            <p><span id=<%= type %>-status-number><%= selection_qty %>
            </span>/ 3</p>
          </div>
          <p><%= type.pluralize.capitalize %></p>
        </div>
      <% end %>
    </div>
    <div class="show-selection-container" id="restaurants-selection">
      <div class="new-thing-selection">
        Restaurant
      </div>
    </div>
    <div class="show-selection-container hidden" id="accommodations-selection">
      <div class="new-thing-selection">
        Accommodation
      </div>
    </div>
    <div class="show-selection-container hidden" id="activities-selection">
      <div class="new-thing-selection">
        Activity
      </div>
    </div>
    <div class="show-selection-container hidden" id="bars-selection">
      <div class="new-thing-selection">
        Bar
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <script>
  <% types.each do |type| %>
    $("#<%= type %>-tab").on("click", function(){
      $(".things-bar-tab").removeClass("active");
      $("#<%= type %>-tab").addClass("active");
      $(".show-selection-container").removeClass("hidden");
      $(".show-selection-container").addClass("hidden");
      $("#<%= type.pluralize %>-selection").removeClass("hidden");
    });
  <% end %>
  </script>
<% end %>
