<% types = %w(restaurant accommodation activity bar) %>


<div class="general-search-selection-container" style="display:flex">
  <div class="left-search-container">
    <div class="actions-bar">
      <% @city == @city.project.cities.first ? next_city = @city.project.cities.second : next_city = @city.project.cities.first  %>
      <%= link_to "To #{next_city.name} selections", new_city_things_path(next_city), class: "btn btn-primary brand-color" %>
      <%= link_to "To trip finalization page", project_path(@city.project), class: "btn btn-primary brand-color" %>
    </div>
    <% types.each do |type| %>
      <div id="<%= type.pluralize %>-search-box">
        <h3><%= type.pluralize.capitalize %> search</h3>
        <%= render "cities/new_thing_search_form", city: @city, type: type  %>
        <div class="search-box">
          <%= render "shared/loading-gif"  %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="right-selection-container">
    <h3>Make your selections for <%= @city.name %></h3>
    <div class="things-bar">
      <% types.each do |type| %>
        <% active = "active" if type == "restaurant" %>
        <div class="things-bar-tab <%= active %>" id="<%= type %>-tab">
          <% selection_qty = eval("@"+type.pluralize).size %>
          <% full = "full" if selection_qty == 3 %>
          <div class="circle-status <%= full %>">
            <p><span id=<%= type %>-status-number><%= selection_qty %>
            </span>/ 3</p>
          </div>
          <p><%= type.pluralize.capitalize %></p>
        </div>
      <% end %>
    </div>

    <% types.each do |type| %>
      <% hidden_selection = "hidden" unless type == "restaurant" %>
      <div class="show-selection-container <%= hidden_selection %>" id="<%= type.pluralize %>-selection">
        <% i = 1 %>
        <% eval("@"+type.pluralize).each do |thing| %>
          <%= render "cities/updated_thing_selection", thing: thing, type: type, i: i, empty: false %>
          <% i = i + 1 %>
        <% end %>
        <% while i <= 3 do %>
          <%= render "cities/updated_thing_selection", type: type, i: i, empty: true %>
          <% i = i + 1 %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<% content_for(:after_js) do %>
  <script>
  <% types.each do |type| %>
    $("#<%= type %>-tab").on("click", function(){
      $(".things-bar-tab").removeClass("active");
      $("#<%= type %>-tab").addClass("active");
      $(".show-selection-container").removeClass("hidden");
      $(".show-selection-container").addClass("hidden");
      $("#<%= type.pluralize %>-selection").removeClass("hidden");
    });
  <% end %>

  <% types.each do |type| %>
    <% for i in 1..3 %>
      $("#selected-<%= type %>-<%= i %>").hover(function(){
        $("#selected-<%= type %>-<%= i %>>h5").addClass("hidden");
        $("#selected-<%= type %>-<%= i %>>.selection-content").removeClass("hidden");
      });
      $("#selected-<%= type %>-<%= i %>").mouseleave(function(){
        $("#selected-<%= type %>-<%= i %>>h5").removeClass("hidden");
        $("#selected-<%= type %>-<%= i %>>.selection-content").addClass("hidden");
      });
    <% end %>
  <% end %>

  <% types.each do |type| %>
    $("#<%= type %>-search-submit").on("click", function(){
      $("#<%= type.pluralize %>-search-box>.search-box").html("");
      var new_card = $('<%= j render "shared/loading-gif" %>');
      $("#<%= type.pluralize %>-search-box>.search-box").append(new_card);
    });
  <% end %>

  <% types.each do |type| %>
    $.ajax({
      type: 'post',
      url: "/things/search",
      data: {type: "<%= type %>", city_id:"<%= @city.id %>", keywords: ""},
      success: function(response){
      },
      error: function(error){
        alert("Problem loading search results")
      },
    });
  <% end %>

  </script>
<% end %>


